body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #FFFFFF;
  margin: 10px 0px;
  padding: 15px;
}

h1 {
  font-size: 13pt;
  width: 100%;
}

h2 {
  font-size: 12pt;
}

img {
  vertical-align: middle;
}

.copyright {
  font-size: 8pt;
  margin-top: 0px;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

a:active {
  color: blue;
}

div.row {
  clear: both;
  padding-top: 10px;
}

div.icon {
  width: 150px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

div.right_column {
  float: none;
  text-align: left;
  vertical-align: middle;
}