<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!------------------------------------------------------------------------------
 ! Licensed Materials - Property of IBM
 ! 5725-C94 5725-C95 5725-C96 5724-M24 5724-I82 5724-N72 5655-WBS
 ! Copyright IBM Corporation 2005, 2013. All Rights Reserved.
 ! US Government Users Restricted Rights - Use, duplication or disclosure
 ! restricted by GSA ADP Schedule Contract with IBM Corp.
 ------------------------------------------------------------------------------->
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<script type="text/javascript" src="../skins/expressDojoLaunchpadContemporarySkin/dojo/dojo/dojo.js"    
	djconfig="parseOnLoad: true,modulePaths: {'com': '../../../../content/com'}"> </script>		
<style type="text/css">  
	@import "../skins/expressDojoLaunchpadContemporarySkin/dojo/dojo/resources/dojo.css";  
	@import "../skins/expressDojoLaunchpadContemporarySkin/dojo/dijit/themes/soria/soria.css";
</style>

<script type="text/javascript"> 
	dojo.require('dijit.form.Button');
	dojo.require("com.ibm.bpm.install.utils.InstallUtils");
	dojo.require("com.ibm.bpm.install.utils.IMHelper");
	
	var logger=null;
	var tempDir = top.getNativeFileName(top.getEnv("LaunchPadTemp") + "/../IBM_LaunchPad_Precheck");
	
	dojo.addOnLoad(function(){
		com.ibm.bpm.install.utils.InstallUtils.bootStrap(); 
	    var dirExists=top.fileExists(tempDir);
	    if (!dirExists) {
	        util.createDir(tempDir);
	    }
	    util.areConstantsInitialized('install');
	});
	
	function installWithPreCheck() {
	  com.ibm.bpm.install.utils.InstallUtils.checkGTK();
	  var imHelper = com.ibm.bpm.install.utils.IMHelper();  
	  imHelper.installProduct(document.getElementById('checkboxAdmin').checked);
	};
	
	function installMontkProduct() {
		
	};
	
	function installProduct() {
		
	};
</script>

</head>

<script src="../jscp.js" language="javascript">
<%@ include file="secureUserExtensions.js" %>
<%@ include file="userExtensions.js" %>
<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS,"content.css","custom_install.css"); %>

<BODY class="soria">

	<h1><%= top.formatmsg(property('heading.custom')) %></h1>

<p>
<%= top.formatmsg(property('desc'), property(top.diskLabel.edition + '.shortname')) %>
</p>
<INPUT type="checkbox" id="checkboxAdmin" checked="true">&nbsp;<label for="checkboxAdmin"><%= property('admin.checkbox') %></label>
&nbsp;<a href="javascript:void 0" name="checkbox_help" onclick="alert(property('help.desc'))"><%= property('help.link') %></a>
<br><br>

<%= property(top.diskLabel.edition + '.desc') %><br><br>

<%= top.formatmsg(property('click'), property(top.diskLabel.edition + '.product')) %><br>
<button dojoType="dijit.form.Button" name="install_im" onclick="installWithPreCheck()">
<%= property('install') %>
</button><br>

<br>
</body>
</script>
</html>