@media screen, print {

	/* Override default dojo behavior to be consistent with the rest of launchpad */
	h1 {
		font-weight: bold;
		line-height: normal;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	/* Dojo fix for wizard scrollbar */
	.wizardPane {
		margin-bottom: 78px;
	}
	
	/* Add padding to the tables so there is separation of the cells */
	table.padded td { 
		padding:5px; 
	}
	
	/* Force the location text boxes to be longer */
	.locationTextBox {
		width: 25em;
	}
	
	/* Set length on port text box */
	.portText {
		width: 4em;
	}
    
    /* Set color for error messages shown on screen */
    .errorText {
        color: red;
    }
	
	/* Padding to indent choice radio buttons */
	div.choice {
		padding-left: 10px
	}
	
	div.test {
		background-image: "none";
		width: 16px;
		height: 16px;
	}
	
	div.test.pass {
		background-image: url('../skins/expressDojoLaunchpadContemporarySkin/images/completedLabelIcon.gif');
		width: 16px;
		height: 16px;
	}
	
	div.test.fail {
		background-image: url('../skins/expressDojoLaunchpadContemporarySkin/images/error.gif');
		width: 16px;
		height: 16px;
	}
	
	.errorIcon {
		background-image: url('../skins/expressDojoLaunchpadContemporarySkin/images/error.gif');
		width: 16px;
		height: 16px;
	}
	
	.warningIcon {
		background-image: url('../skins/expressDojoLaunchpadContemporarySkin/images/warning.gif');
		width: 16px;
		height: 16px;
	}
	
	.infoIcon {
		width: 16px;
		height: 16px;
	}
	.infoIconLarge {
		background-image: url('./images/Large_ok.png');
		width: 36px;
		height: 35px;
	}
	
	.alertIconLarge {
		background-image: url('./images/Alert.png');
		width: 36px;
		height: 35px;
	}
	
	.dj_ie .dijitTextBox {
 	{
		margin-bottom: -3px;
	}

	.dj_ie .dijitTextBox * {
 	{
		font-size:100% !important;
		line-height: normal !important;
	}

	.dijitTextBox * {
		font-family: Verdana, Arial, Helvetica, sans-serif !important;
		font-size: 1em !important;
	}
	
	.dijitTooltipContainer {    
		font-family: Verdana, Arial, Helvetica, sans-serif !important;
		font-size: 1em !important;
	} 
	
}

@media print {

	.printHidden {
		display:none !important;
	}
	
	* {
		overflow: visible !important;
	}

	body {
		width: 100% !important;
	}
	
	body * {
		width: auto !important;
	}
} 