<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!------------------------------------------------------------------------------
 ! Licensed Materials - Property of IBM
 ! 5725-C94 5725-C95 5725-C96 5724-M24 5724-I82 5724-N72 5655-WBS
 ! Copyright IBM Corporation 2011, 2012. All Rights Reserved.
 ! US Government Users Restricted Rights - Use, duplication or disclosure
 ! restricted by GSA ADP Schedule Contract with IBM Corp.
 ------------------------------------------------------------------------------->
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<script type="text/javascript" src="../skins/expressDojoLaunchpadContemporarySkin/dojo/dojo/dojo.js"    
	djconfig="parseOnLoad: true,modulePaths: {'com': '../../../../content/com'}"> </script>		
<style type="text/css">  
	@import "../skins/expressDojoLaunchpadContemporarySkin/dojo/dojo/resources/dojo.css";  
	@import "../skins/expressDojoLaunchpadContemporarySkin/dojo/dijit/themes/soria/soria.css";
	@import "../skins/expressDojoLaunchpadContemporarySkin/dojo/dojox/widget/Wizard/Wizard.css";
</style>

<script type="text/javascript">

dojo.require('com.ibm.bpm.install.utils.InstallUtils');

function setProductGuideLink()
{
	var edition = top.diskLabel.edition;
	
	var map = {
		"WSRR": "http://www.ibm.com/support/knowledgecenter/SSWLGF_8.5.5/"
	};
		
	document.getElementById("productGuideLink").onclick = function(){viewPage(NO_DISKID, map[edition]);};
}

function onWelcomeLoad()
	{
		/*  Code given by Common Launchpad Team to 
		 *  fix greying out launchpad issue on 
		 *  Solaris with firefox 10 or greater 
		 */
		if(top.OS == 'SunOS'){
			if(!top.readyToProceed){
			   top.readyToProceed = true;
			   setTimeout(function(){ onWelcomeLoad(); }, 4000 );
			   return;
			}
		}   
		/*  End of Code given by Common Launchpad Team to 
		 *  fix greying out launchpad 
		 */
		 
		com.ibm.bpm.install.utils.InstallUtils.bootStrap(); 
        
        // check supported browser as first thing
        util.checkForSupportedBrowser();
        
        setProductGuideLink();
        util.areConstantsInitialized('welcome');
        //serviceability.setupForLaunchpadUpdates();
	}
	
		dojo.addOnLoad(function() {
	   onWelcomeLoad();	
	});
</script>

</head>

<script src="../jscp.js" language="javascript">
<%@ include file="secureUserExtensions.js" %>
<%@ include file="userExtensions.js" %>
<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS,"content.css"); %>

<BODY onload="setProductGuideLink()">

<h1><%= top.formatmsg(property('heading'), property(top.diskLabel.edition + '.product')) %></h1>

<p>
<%= top.formatmsg(property('desc'), property(top.diskLabel.edition + '.shortname')) %>
</p>
<p>
<%= top.formatmsg(property('desc.2'), "\"<a id='productGuideLink' href='#'>"+ top.formatmsg(property('desc.link'), property(top.diskLabel.edition + '.product'))+"<a>\"") %>
</p>


<h2><a href="#"><%= property('evaluation.heading') %></a></h2>

<p>
<%= property('evaluation.desc.1') %>
</p>
<p>
<%= property('evaluation.desc.2') %>
</p>

<h2><a href="#"><%= property('custom.heading') %></a></h2>

<p>
<%= property('custom.desc.1') %>
</p>

<ul>

<li><%= property('custom.desc.2') %></li>
<li><%= property('custom.desc.3') %></li>
<li><%= top.formatmsg(property('custom.desc.4'), property(top.diskLabel.edition + '.shortname')) %></li>
</ul>

</body>
</script>
</html>

