<div dojoAttachPoint="containerNode" class="wizardPane">
    <span><h1>${labels.INSTALLING_PROCESS_CENTER}</h1>
        <p>${labels.INSTALLING_PROCESS_CENTER_DESCRIPTION}</p>
        <form dojoType="dijit.form.Form" dojoAttachPoint="pcForm">
            <table class="padded">
                <tr>
                    <td>${labels.STEP1}</td>
                    <td colspan="3">${labels.SELECT_HOSTNAME}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><label for="pc_hostName"> ${labels.HOSTNAME} </label></td>
                    <td colspan="2"><input type="text" id="pc_hostName" name="hostName" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox"
                        dojoAttachPoint="hostName" /></td>
                </tr>
                <tr>
                    <td>${labels.STEP2}</td>
                    <td colspan="3">${labels.SELECT_LOCATION}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><label for="pc_location"> ${labels.LOCATION} </label></td>
                    <td><input type="text" id="pc_location" name="location" class="locationTextBox" dojoType="com.ibm.bpm.install.ui.widgets.textbox.LocationTextBox"
                        installSize="${installSize}" dojoAttachPoint="location" /></td>
                    <td>
                        <button dojoType="dijit.form.Button" dojoAttachPoint="browseButton">${labels.BROWSE}</button></td>
                </tr>
                <tr class="WSRR">
                    <td>${labels.STEP3}</td>
                    <td colspan="3">${labels.WSRR_DEFAULT_PASSWORD}</td>
                </tr>
                <tr class="WSRR">
                    <td>&nbsp;</td>
                    <td><label for="wsrrPassword"> ${labels.PASSWORD} </label></td>
                    <td colspan="2"><input class="WSRR" type="password" id="wsrrPassword" name="wsrrPassword"
                        dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox" dojoAttachPoint="wsrrPassword" /></td>
                </tr>
                <tr class="WSRR">
                    <td>&nbsp;</td>
                    <td><label for="confirmWsrrPassword"> ${labels.CONFIRM_PASSWORD} </label></td>
                    <td colspan="2"><input class="WSRR" type="password" id="confirmWsrrPassword" name="confirmWsrrPassword"
                        dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox" dojoAttachPoint="confirmWsrrPassword" /></td>
                </tr>
            </table>
        </form> </span>
</div>