<div dojoAttachPoint="containerNode" class="wizardPane">
    <span><h1>${labels.SELECT_DB_CONFIG}</h1>
        <p>${labels.SELECT_DB_CONFIG_DESCRIPTION}</p>
        <div class="choice">
            <input dojoType="dijit.form.RadioButton" dojoAttachPoint="embedded" id="embedded" name="db_type" checked="checked" value="EMBEDDED" type="radio"
                dojoAttachEvent="onChange: onChangeSelection" /> <label for="embedded"> ${labels.INSTALL_DB2} </label>
        </div>
        <div class="choice" style="margin-top: 1.5em; margin-bottom: 1.5em">
            <input dojoType="dijit.form.RadioButton" dojoAttachPoint="existing" id="existing" name="db_type" value="EXISTING" type="radio" /> <label for="existing">
                ${labels.INSTALL_EXISTING} </label>
        </div> </span>
</div>