<div dojoAttachPoint="containerNode" class="wizardPane">
    <span><h1>${labels.EXISTING_DATABASE_SETUP}</h1>
        <p>${labels.EXISTING_DATABASE_SETUP_DESCRIPTION_1}</p>
        <form dojoType="dijit.form.Form" dojoAttachPoint="dbForm">
            <table class="padded">
                <tr>
                    <td>${labels.STEP1}</td>
                    <td colspan="4">${labels.EXISTING_DATABASE_SETUP_DESCRIPTION_2}</td>
                </tr>
                <tr>
                    <td>
                        <div class="test"></div></td>
                    <td>${labels.TYPE}</td>
                    <td colspan="3"><select name="dbType" dojoType="dijit.form.Select" dojoAttachPoint="dbType">
                            <option value="DB2" selected="selected">DB2</option>
                            <option value="MSSQL">MSSQL</option>
                            <option value="Oracle">Oracle</option>
                    </select></td>
                </tr>
                <tr>
                    <td>
                        <div class="test"></div></td>
                    <td>${labels.HOSTNAME}</td>
                    <td><input type="text" id="dbHostName" name="dbHostName" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox" value="localhost" /></td>
                    <td>${labels.PORT}</td>
                    <td><input type="text" id="dbServerPort" name="dbServerPort" dojoAttachPoint="dbServerPort" dojoType="com.ibm.bpm.install.ui.widgets.textbox.PortTextBox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="test"></div></td>
                    <td>${labels.USERNAME}</td>
                    <td><input type="text" id="dbUserId" name="dbUserId" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox" dojoAttachPoint="dbUserId" /></td>
                    <td>${labels.PASSWORD}</td>
                    <td><input type="password" id="dbPassword" name="dbPassword" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox"
                        dojoAttachPoint="dbPassword" /></td>
                </tr>
                <tr>
                    <td>${labels.STEP2}</td>
                    <td colspan="4" dojoAttachPoint="step2"></td>
                </tr>
                <tr>
                    <td>
                        <div class="test" id="dbName_test"></div></td>
                    <td colspan="2">
                        <div dojoAttachPoint="dbName"></div></td>
                    <td colspan="2"><input type="text" id="dbName" name="dbName" dojoType="com.ibm.bpm.install.ui.widgets.textbox.DatabaseTextBox" dbType="DB2"
                        dojoAttachPoint="dbName" /></td>
                </tr>
                <tr class="DB2">
                    <td>${labels.STEP3}</td>
                    <td colspan="4">${labels.EXISTING_DATABASE_SETUP_DESCRIPTION_3}</td>
                </tr>
                <tr class="DB2">
                    <td>
                        <div class="test"></div></td>
                    <td colspan="4"><input type="checkbox" id="dbCreateNew" name="dbCreateNew" value="true" dojoType="dijit.form.CheckBox" dojoAttachPoint="dbCreateNew"
                        checked /> <label for="dbCreateNew"> ${labels.CREATE_DATABASE} </label></td>
                </tr>
                <tr class="Oracle">
                    <td>
                        <div class="test"></div></td>
                    <td colspan="4">${labels.ORACLE_OS_USER}</td>
                </tr>
                <tr class="Oracle">
                    <td>
                        <div class="test"></div></td>
                    <td>${labels.USERNAME}</td>
                    <td><input class="Oracle" type="text" id="oracleOSUser" name="oracleOSUser" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox"
                        dojoAttachPoint="oracleOSUser" value="oracle" /></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr class="DB2 Oracle">
                    <td>
                        <div class="test"></div></td>
                    <td colspan="4">${labels.DATABASE_SYSTEM}</td>
                </tr>
                <tr class="DB2 Oracle">
                    <td>
                        <div class="test"></div></td>
                    <td>${labels.USERNAME}</td>
                    <td><input class="DB2 Oracle" type="text" id="dbSysUserId" name="dbSysUserId" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox"
                        dojoAttachPoint="dbSysUserId" /></td>
                    <td>${labels.PASSWORD}</td>
                    <td><input class="DB2 Oracle" type="password" id="dbSysPassword" name="dbSysPassword" dojoType="com.ibm.bpm.install.ui.widgets.textbox.ValidationTextBox"
                        dojoAttachPoint="dbSysPassword" /></td>
                </tr>
            </table>
        </form> </span>
</div>