<div dojoAttachPoint="containerNode">
    <div dojoType="dijit.Dialog" title="${labels.TITLE}" dojoAttachPoint="dialog" style="width: 80%">
        <div dojoAttachPoint="errorTable">
            <table class="padded">
                <tr>
                    <td colspan="3" align="center">
                        <h3>${labels.FAIL}</h3></td>
                </tr>
                <tr>
                    <td colspan="3">${labels.MESSAGES}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="word-break: break-all;">
                            <tbody dojoAttachPoint="messagesBody">
                            </tbody>
                        </table></td>
                </tr>
                <tr class="printHidden">
                    <td style="width: 100%">&nbsp;</td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="printButton">${labels.PRINT}</button></td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="closeButton">${labels.CLOSE}</button></td>
                </tr>
            </table>
        </div>
        <iframe id="printArea" dojoAttachPoint="printArea" style="height: 0px; width: 0px; border: 0px"> </iframe>
    </div>
</div>