<div dojoAttachPoint="containerNode">
    <div dojoType="dijit.Dialog" title="${labels.TITLE}" dojoAttachPoint="dialog" style="width: 80%">
        <table class="padded">
            <tr>
                <td colspan="3">${labels.WTE_INSERT_DISK}</td>
            </tr>
            <tr>
                <td style="width: 100%"></td>
                <td>
                    <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="okButton">${labels.OK}</button></td>
                <td>
                    <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="cancelButton">${labels.CANCEL}</button></td>
            </tr>
        </table>
    </div>
</div>