<div dojoAttachPoint="containerNode">
    <div dojoType="dijit.Dialog" title="${labels.TITLE}" dojoAttachPoint="dialog" style="width: 50%">
        <table class="padded">
            <tr>
                <td colspan="2">
                    <table style="word-break: break-all;">
                        <tbody dojoAttachPoint="messagesBody">
                        </tbody>
                    </table></td>
            </tr>
        </table>
        <div align="center">
            <table>
                <tr>
                    </td colspan="2">
                    <img id="progressImage" src="${labels.SPINNERPATH}" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>