<div dojoAttachPoint="containerNode">
    <div dojoType="dijit.Dialog" title="${labels.TITLE}" dojoAttachPoint="dialog" style="width: 80%">
        <table class="padded">
            <tr>
                <td colspan="3" align="center">
                    <h3>${labels.SUCCESS}</h3></td>
            </tr>
            <tr>
                <td colspan="3" align="center">${labels.FIRST_STEPS}</td>
            </tr>
            <tr>
                <td style="width: 100%"></td>
                <td>
                    <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="yesButton">${labels.YES}</button></td>
                <td>
                    <button dojoType="dijit.form.Button" type="button" dojoAttachPoint="noButton">${labels.NO}</button></td>
            </tr>
        </table>
    </div>
</div>