<div dojoAttachPoint='containerNode'>
    <form dojoType="dijit.form.Form" dojoAttachPoint="updateLoginForm">
        <div dojoType='dijit.Dialog' title='${labels.TITLE}' dojoAttachPoint='dialog'>
            <table class='padded' style='width: 330px'>
                <tr>
                    <td colspan="2">${labels.DIRECTIONTEXT} ${labels.CANCELINFORMATION}</td>
                </tr>
                <tr>
                    <td>${labels.USERNAME}</td>
                    <td><input type='text' name='user' dojoType='com.ibm.bpm.install.ui.widgets.textbox.UserPassTextBox' required="true" dojoAttachPoint='userId' /></td>
                </tr>
                <tr>
                    <td>${labels.PASSWORD}</td>
                    <td><input type='password' name='password' dojoType='com.ibm.bpm.install.ui.widgets.textbox.UserPassTextBox' required="true" dojoAttachPoint='password' />
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <button dojoType='dijit.form.Button' type='button' dojoAttachPoint='okButton'>${labels.OK}</button>
                        <button dojoType='dijit.form.Button' type='button' dojoAttachPoint='cancelButton'>${labels.CANCEL}</button></td>
                </tr>
                <tr>
                    <td colspan="2">${labels.FAILURETEXT}</td>
                </tr>
            </table>
        </div>
    </form>
</div>