<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- Licensed Materials - Property of IBM
     5648-F10 (C) Copyright International Business Machines Corp. 2005, 2014
     All Rights Reserved
     US Government Users Restricted Rights - Use, duplication or disclosure
     restricted by GSA ADP Schedule Contract with IBM Corp. -->

<HTML id="Firefox" lang="en">
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<!-- link rel="stylesheet" type="text/css" href="chrome://commonlaunchpad/skin/browserOverlay.css"/ -->
		
<SCRIPT src="chrome://commonlaunchpad/content/jscp.js" language="javascript">
	<%@ include file="secureUserExtensions.js" %>
	<%@ include file="userExtensions.js" %>
	<%@ include file="global.head" %>
	<% loadCSSfiles(DEFAULTCSS); %>
	
	<% 


	try
	{   
		if (typeof top.launchpadStartup != "undefined") 
		{
			top.launchpadStartup();
		}        
	}
	catch(e)
	{      
		alert(top.formatmsg(document.properties['launchpadStartupCodeError'], e.message));        
	}
	top.handleDiskLabelJavascriptSubstitution();

	top.resize(property('launchpadWidth',800),property('launchpadHeight',600));
	top.centerLaunchpadWindow();

	if (top.foundCompatibleStartDisk)
	{
		var launchpadLocaleSet = top.secureGetEnv(new Function('return window'), "LaunchPadLocaleSet");	
		var doLanguageSelect = property('languageSelectionType','embedded') == 'dialog' && launchpadLocaleSet != 'true';

	%>	
	
	</head>	

	<body role="application">
	<!-- % top.checkHighContrast(); % -->  <!-- FIX THIS LATER -->
	<img id="launchpadLogo" src="<%= findURL(null,property('logoImage')) %>" alt="<%= property('logoAltText', '') %>">

	<div id="notificationsWrapper">
		<div id="notifications" class="notifications">
		</div>
	</div>

	<iframe name="root" id="root" scrolling="no" src="<%= findURL(null,top.STARTPAGE) %>" frameborder="0" border="0" width="100%" height="100%" application="yes" title="Root Frame" onload="window.maximize();">
	</iframe>



	<div id="dialogTemplate" class="dialogWrapper fill dialogBackgroundImage" style="display: none;">
		<div id="dialogTemplateMediumZIndex" class="absolute fill semitransparent black"></div>
		<div id="dialogTemplateHighZIndex" class="absolute outerVerticalCenteringWrapper fill">
			<div class="innerVerticalCenteringWrapper fillWidth">
				<div class="verticallyCenteredContent centerAlign fillWidth">
					<span id="dialogTemplateSpan" class="horizontallyCenteredContent inlineBlock dialogSpan">
						<div id="dialogTemplateAccessibilityDialogTitle" style="height:0px;overflow:hidden;line-height:0;" tabindex="0"><%= property('popupDialog','')%></div>
						<div id="dialogTemplateInnerContainer"  class="leftAlign"></div>
					</span>
				</div>
			</div>
		</div>
	</div>

	<iframe name="printer" id="printer" scrolling="no" src="<%= findURL(null,'print.html') %>" frameborder="0" border="0" width="0%" height="0%" application="yes" title="Printer Frame">
	</iframe>

	</body>	
	
	<%


	
	function languageSelectionAction(lang)
	{
		top.secureSetEnv(new Function('return window'), "LaunchPadDialogLocaleSelected", 'true');
		if(top.LOCALE != lang && lang != "0")
		{
      		top.secureSetEnv(new Function('return window'), "LaunchPadLocaleSet", 'true');
			top.changeLocale(lang);
		}
		if(top.showLogFrame)
			top.showLogFrame(top.LOG_SHOW_AT_LOAD_ORIG);
	}
	
	function createLanguageOptionsList() {
		var text = '';
		var localeList = top.getValidLocaleNames();
		top.LOG_SHOW_AT_LOAD_ORIG = top.LOG_SHOW_AT_LOAD;
		top.LOG_SHOW_AT_LOAD = doLanguageSelect ? false : top.LOG_SHOW_AT_LOAD;

		var selectedLocale = property('fallBackLocale');

		for (var i in localeList) {
			if (top.LOCALE == localeList[i][0]) {
				selectedLocale = top.LOCALE;
			}
		}

		for (var i in localeList) {
			var selected = "";
			if (selectedLocale == localeList[i][0]) {
				selected = "SELECTED";
			} 
			else {
				selected = "";
			}
			text += '<option ' + selected + ' value="' + localeList[i][0] + '">' + localeList[i][1] + '</option>\n';
		}
		return text;
	}
	
	if(doLanguageSelect)
	{
		var languageSelectionText = 
		'<form action="javascript:void 0" name="languageSelectionForm" id="languageSelectionForm">\
			<label for="languageList">Select a language</label>\
			<select name="languageList" id="languageList">' + 
				createLanguageOptionsList() +
			'</select>\
		</form>';
		
		var languageSelectionDialogId = 'languageSelectionDialogId';
		var languageSelectionContent = languageSelectionText;
		top.showDialog(languageSelectionContent, {
			id: languageSelectionDialogId,
			title: property('languageLabelTitle'),
			buttons: [
				{
					id: "languageButton",
					name: "languageButton",
					value: property('promptOK'),
					onclick: function(){ languageSelectionAction(document.languageSelectionForm.languageList.value); top.showDialog(languageSelectionDialogId, false); }
				}
			],
			width: "350px"
		});
		document.getElementById(languageSelectionDialogId + 'AccessibilityDialogTitle').focus();
	}
	top.secureSetEnv(new Function('return window'), "LaunchPadLocaleSet", 'false');	
}
else 
{
	//This is an attempt to re-orient the launchpad to the original starting directory to pick up the incorrectDisk.html file.
	//We do this because there's no gaurantee that we'll find one in another location.  If we get here, we can be assured that
	//top.STARTINGDIR was reset to the original starting directory.  So we should be able to find an incorrectDisk.html file.
	top.diskMappings[diskLabel.id] = top.STARTINGDIR;    
%>

<FRAMESET ROWS="100%" COLS="100%" frameborder="0" border="0" framespacing="0" >
	<FRAME SRC="<%= findURL(null,'incorrectDisk.html') %>" name="root" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" application="yes">
</FRAMESET>


<%
}
%>
<% top.include(document, property("topIncludeScripts",[]), true); %>
<% top.include(document, property("topIncludeStyleSheets",[]), true, "style"); %>	

</SCRIPT>

</HTML>