<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!-- Licensed Materials - Property of IBM
     5648-F10 (C) Copyright International Business Machines Corp. 2005
     All Rights Reserved
     US Government Users Restricted Rights - Use, duplication or disclosure
     restricted by GSA ADP Schedule Contract with IBM Corp. -->
<HTML lang="en">
<HEAD>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

  <script language="javascript">

  function _showPreloadedPage(which,hash) {
    try {
      for (var id in top.preloadedpages) {
        if (which != id && id != "default") {
          try { document.getElementById("preload_"+id).style.display="none";} catch(e) {}
        }
      }
      try {
        document.getElementById("preload_"+which).style.display="block";
        if (typeof hash != 'undefined' && hash != null) {
          //This first line fixes a caching bug in Firefox... not exactly sure how.  But it does
          document.getElementById("frame_"+which).contentWindow.scrollTo(0,0);
          document.getElementById("frame_"+which).contentWindow.location.hash="#" + hash;
        } else {
          document.getElementById("frame_"+which).contentWindow.scrollTo(0,0);
        }
      } catch(e) { top.logMessage("LPV20002S", which);}
    } catch(e) { top.logException(e,arguments);}
  }
  </script>

</HEAD>

<BODY role="main">
<div id="container">
<script src="jscp.js" language="javascript">
<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS); %>
<%
top.preloadDocument = document;

top.preloadedpages = property("preload",null);
if (top.preloadedpages == null) {
  // Log an error - no preload properties found
  top.logMessage('LPV20025S', 'preload');
} else {
  // Create iframes for each preload item
  for (var id in top.preloadedpages) {
    if (id != "default") {
      var preloaditem = property(id,null);
      if (preloaditem == null ||
          typeof preloaditem['prereq'] != "string" ||
          true == eval(preloaditem['prereq'])) {
        if (typeof top.preloadedpages['default'] == "string" && top.preloadedpages['default'] == id) {
          %>
          <div id="preload_<%= id %>" class="preload" style="display:block;">
          <%
        } else {
          %>

          <div id="preload_<%= id %>" class="preload" style="display:none;">
          <%
        } %>
        <IFRAME name="frame_<%= id %>" id="frame_<%= id %>" src="pageloader.html?<%= top.preloadedpages[id] %>" frameborder="0" border="0" allowTransparency="true" APPLICATION=yes title="<%= id %>">
        </iframe>
        </div>

        <%
      }
    }
  }
}

top.showPreloadedPage = top.preloadShowPreloadedPage = _showPreloadedPage;
top.preloadLoaded = true;
%>

</div>
<div id="background_image_wrapper">
	<div id="background_image">    
    </div>
</div>
<div class="backgroundFade" id="backgroundFadeWrapper">
	<div class="backgroundFade" id="backgroundFade">
	</div>
</div>
</script>
</BODY>
</HTML>
