/* Licensed Materials - Property of IBM */
/* 5648-F10 (C) Copyright International Business Machines Corp. 2005 */
/* All Rights Reserved */
/* US Government Users Restricted Rights - Use, duplication or disclosure */
/* restricted by GSA ADP Schedule Contract with IBM Corp. */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body{
	background-image: url('<%= findURL(null,property('bannerImage')) %>');
	background-repeat: no-repeat;
	background-position: top <%= bidiString('right','left') %>;
    background-color: <%= property('bannerColor', property('backgroundColor', '#ffffff')) %>;
	padding: 0px;
}

#title {
	padding: 0 15px;
    font-weight: bold;
    font-size: 14pt;
	font-family: Helvetica, Verdana, Arial, sans-serif;
    color: <%= property('textColor', '#000000') %>;
    text-align: <%= bidiString('right','left') %>;
}

/* Sets the font and background colors for the option box */
select {
    color: #000;
    background-color:white;
}
#languageSelectorContainer {    
  text-align: <%= bidiString('left','right') %>;
  padding: 0 15px;
  <%= property('languageSelectionType','embedded') == 'embedded' ? ' ' : 'display: none;' %>
}
#languageSelector {    
	color: <%= property('textColor', '#000000') %>;
	padding: 0;
	margin: 0;
}
#languageSelectorList {
	vertical-align: middle;
}
.languageSelectorLabel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight:normal;
}
