<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML LANG="en">
<!-- 
     Licensed Materials - Property of IBM
     5648-F10 (C) Copyright International Business Machines Corp. 2010
     All Rights Reserved
     US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. 
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="dojo/dojo/dojo.js" djconfig="parseOnLoad: true"></script>
			
	 <style type="text/css">
      @import "dojo/dojo/resources/dojo.css";
      @import "dojo/dijit/themes/claro/claro.css";
    </style>
<script type="text/javascript">
     dojo.require("dijit.form.Button");
	 dojo.require("dijit.ProgressBar");
</script>

<script src="../../jscp.js">
<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS); %>
</head>

<body onload="top.loadDefaultFooter();" class="claro" role="complementary">
<div id="backgroundDiv" class="absolute fill"></div>

<div id="launchpadLogoAbsoluteDiv" class="absolute fill">
  <div id="launchpadLogoOuterDiv" class="outerVerticalCenteringWrapper fill">
    <div id="launchpadLogoInnerDiv" class="innerVerticalCenteringWrapper fillWidth">
      <div id="launchpadLogoDiv" class="verticallyCenteredContent">
        <img id="launchpadLogo" src="<%= findURL(null,property('logoImage')) %>" alt="<%= property('logoAltText', '') %>">
      </div>
    </div>
  </div>
</div>

<div class="outerVerticalCenteringWrapper fill absolute highZIndex">
	<div class="innerVerticalCenteringWrapper fillWidth">
		<div class="verticallyCenteredContent fillWidth">
			<form id="buttonForm">
				<input dojoType="dijit.form.Button" id="previousButton" type="button" name="Previous" value="Back" disabled="disabled" onclick="top.previous();">
				<input dojoType="dijit.form.Button" id="nextButton" type="button" name="Next" value="Next" disabled="disabled" onclick="top.next();">
				<input dojoType="dijit.form.Button" id="cancelButton" type="button" name="Cancel" value="Cancel" disabled="disabled" onclick="top.cancel();">
				<input id="helpButton" type="button" name="Help" value="Help" disabled="disabled" onclick="top.help();">
			</form>
		</div>
	</div>
</div>

<div class="outerVerticalCenteringWrapper fill">
	<div class="innerVerticalCenteringWrapper fillWidth">
		<div class="verticallyCenteredContent fillWidth">
			<div id="progressTitle" class="progressText navigationMargin"></div>		
				<div id="progressWrapper" class="navigationMargin buttonsMargin hide">
					<div dojoType="dijit.ProgressBar" indeterminate="true" jsId="dojoProgress" id="dojoProgressBar" maximum="10"></div>
				</div>
			<div id="progressDescription" class="progressText navigationMargin"></div>		
		</div>
	</div>
</div>

<%		
	function enableButton(id, enable)
	{
     	var button = dijit.byId(id);
		if (button)
		{
			try 
			{
				button.setAttribute('disabled', !enable);
			}
			catch (e)
			{
				button.disabled = !enable;
			}
		}
		else
		{
			button = document.getElementById(id);
			button.disabled = !enable;
		}
	}
	
	function showButton(id, show)
	{				
		var button = dijit.byId(id);
		if (button)
		{
			try 
			{
				if (show)
				{
					button.domNode.style.visibility = 'visible';

					button.show();
					
				}
				else
					button.domNode.style.visibility = 'hidden';
					
			}
			catch (e)
			{
				button.style.display = show ? "inline" : "none";
			}
		}
		else
		{
			button = document.getElementById(id);
			button.style.display = show ? "inline" : "none";
		}
	}
	
	function renameButton(id, label)
	{
		var button = dijit.byId(id)
		if (button)
		{
			try{
				
				button.set('label', label);
			}
			catch(e)
			{
				setTimeout("renameButton('" + id + "', '" + label + "')", 200); 
			}	
		}
	}
	function dojoSetProgressIndeterminate()
	{
		dojoProgress.indeterminate = true;
	}

	function dojoUpdateProgress(completed, total)
	{
		dojoProgress.indeterminate = false;
		dojoProgress.update({
			maximum: total,
            progress: completed?completed:100
        });
	}
%>

</body>
</script>
</html>