/* Licensed Materials - Property of IBM */
/* 5648-F10 (C) Copyright International Business Machines Corp. 2005 */
/* All Rights Reserved */
/* US Government Users Restricted Rights - Use, duplication or disclosure */
/* restricted by GSA ADP Schedule Contract with IBM Corp. */

html {
	overflow:hidden;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
